@{
    ViewBag.Title = "Estado del Servidor de Seguridad";
}
<div class="row">
    <div class="sixteen wide column">
        <h1>@ViewBag.Title</h1>
    </div>
    <div class="five wide column">
        <div class="ui segment">
            <table class="ui table bordered">
                <tbody>
                <tr>
                    <th>Modo Autenticacion:</th>
                    <td>Reservado</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>