
@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.PerfilVM

<div class="row">

    <div class="ui centered card" style="display: inline-block; overflow-x: scroll;">
        <div class="image">
            <img src="~/Content/Images/perfil.png">
        </div>
        <div class="content">
            <a class="header center" style="text-align:center;">Eagle&Cast</a>
            <div class="ui sub dividing header"></div>
            <span class="right floated">
                <div id="lbltelefono" class="ui label" style="font-size:0.7em;"><i class="phone icon"></i>@Model.telefono</div>
            </span>

            <div class="ui label" style="font-size:0.7em;">
                <i id="lblcorreo" class="mail icon"></i>@Model.correo<div />

            </div>
        </div>

        <br />

        <br />
        <br /> 
        @Html.ActionLink("Edit", "EditarPerfilUsuario", null,  new { @class = "ui tiny red right floated button" })
        <div class="ui sub dividing header"></div>

        <div class="extra content">
            <a>
                <i class="tablet icon"></i>
                22 Equipos
            </a>

        </div>
    </div>



</div>
 