@model AnubisDBMS.Data.ViewModels.Catalogos_viewModels.NombreEmpresaSeleccionadaVm




@if (User.IsInRole("Developers") || User.IsInRole("Administrador"))
{
    <div class="item">
        <label><i class="user circle icon"></i>Empresa Seleccionada: @Model.NombreEmpresa</label>
    </div>
}

