@model AnubisDBMS.Infraestructure.Data.Security.ViewModels.RecuperarContrasenaViewModel
@{
    ViewBag.Title = "Recuperar Contraseña";
}
<div class="sixteen wide column">
    <h1 class="ui top attached segment">@ViewBag.Title</h1>
    <div class="ui attached segment">
        @using (Html.BeginForm("RecuperarContrasena", "Cuenta", FormMethod.Post, new { @class = "ui form" }))
        {
            <div class="field">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <input type="submit" value="Recuperar Contraseña" />
        }
    </div>
</div>