
@{
    ViewBag.Title = "AccesoBloqueado";
}
    <div class="centered row" style="margin-top:50px;">
        <div class="ui massive centered negative message">
           
            <div class="center content">
                <b>Su servicio se encuentra suspendido por falta de pago</b>
            </div>
            <p>
                Contáctese con su proveedor para realizar el pago.
            </p>
            <br />
            <i class="huge loading plug icon" style="margin-left:60px"></i>
        </div>
       

    </div>