

    <div class="sixteen wide column">
    @*<div class="ui top attached tabular menu">
        <div class="active item" data-tab="tab-sensores"><i class="chart bar icon"></i>Sensores</div>
        <div class="item" data-tab="tab-graficos"><i class="chart bar icon"></i>Graficos y Exportacion de datos</div>


    </div>*@

        <div class="ui grid">
            <div class="four wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                           <i class="qrcode icon"></i> Codigo QR
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <div class="ui link cards">
                            <div class="card">
                                <div class="small image">
                                    <img src="~/Content/Images/qrcode.png">
                                </div>
                                <div class="content">
                                    <div class="header">EQUIPO 1</div>


                                </div>
                                <div class="extra content">
                            
                                    <span>
                                        <i class="thermometer icon"></i>
                                        3 Sensores
                                    </span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="four wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                            <i class="list icon"></i> Lectura de Medidores
                        </div>
                    </div>
                    <div class="ui raised segment">
                        <table class="ui tiny compact celled selectable table">
                            <thead>
                                <tr class="centered">

                                    <th>
                                        Medidor
                                    </th>
                                    <th>
                                        Dato
                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="center">
                                    <td>
                                        Medidor 1
                                    </td>
                                    <td>
                                        24%
                                    </td>



                                </tr>
                                <tr>
                                    <td>
                                        Medidor 2
                                    </td>
                                    <td>
                                        67%
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Medidor 3
                                    </td>
                                    <td>
                                        12%
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="six wide column">
                <div class="ui raised segments">
                    <div class="ui bottom attached raised menu">
                        <div class="header item">
                            <i class="graph line icon"></i> Graficos
                        </div>
                    </div>
                    <div class="ui raised segment">
                        
                    </div>
                </div>
            </div>
        </div>


</div>
