

<div class="row">

    <div class="sixteen wide column">

        <div class="ui raised segments">
            <div class="ui bottom attached menu">
                <div class="header item">
                    <h4>Mantenimiento</h4>
                </div>
                <div class="item">   
                    <button class="ui red compact button"><i class="lock icon"></i>Bloquear Servicio</button>

                </div>
                <div class="item">
                    <button class="ui green compact button"><i class="unlock icon"></i>Desbloquear Servicio</button>

                </div>
            </div>
            <div class="ui raised segment">
                <table class="ui compact celled selectable table">
                    <thead>
                        <tr class="centered">
                            <th>
                            <input type="checkbox" />
                            </th>
                            <th>
                                Fecha Mant.
                            </th>
                            <th>
                               Alias Equipo
                            </th>
                            <th>
                                Estado
                            </th>
                        
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center">
                            <td><input type="checkbox" /></td>
                            <td>
                                11/11/2019
                            </td>
                            <td>
                                Equipo1
                            </td>
                            <td>
                                <a href="#" class="ui yellow compact button disabled"><i class="warning icon"></i></a>
                            </td>

                            <td>
                                <div class="ui small buttons">
                                    <a href="#" class="ui green button compact"><i class="pencil icon"></i>Editar</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>
                                11/11/2019
                            </td>
                            <td>
                                Equipo2
                            </td>
                            <td>
                                <a href="#" class="ui green compact button disabled"><i class="check icon"></i></a>
                            </td>

                            <td>
                                <div class="ui small buttons">
                                    <a href="#" class="ui green button compact"><i class="pencil icon"></i>Editar</a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>