
@page {
    size: auto; /* auto is the initial value */
    /* this affects the margin in the printer settings */
    margin: 25mm 25mm 25mm 1000mm;
     }

body {
    /* this affects the margin on the content before sending to printer */
    font-size: 10px !important;
    
}  