

@model IEnumerable<AnubisDBMS.Data.Entities.DataSensores>


@*@using (Html.BeginForm("Mantenimientos", "Mantenimiento", new { }, FormMethod.Get, new { @class = "ui row", id = "" }))
{*@
  

    <div class="sixteen wide column" style="margin-top:30px;">

        <div class="ui raised segments">
            <div class="ui bottom attached menu">
                <div class="header item">
                    <h4>Revision de Errores</h4>
                </div>


                <div class="item">
                    <a href="@Url.Action("RevisarMedidas", "Mantenimiento")" data-tooltip="Notificar revision" class="ui green button compact"><i class="check icon"></i>Aplicar Revision</a>
                </div>

            </div>
            <div class="ui raised segment">
                <table class="ui compact celled selectable table center aligned small-text datatable">
                    <thead>
                        <tr class="centered">

                            <th>
                                SERIE SENSOR
                            </th>
                            <th>
                                MEDIDA
                            </th>
                            <th>
                                UNIDAD
                            </th>
                       
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mant in Model)
                        {


                            <tr class="centered">

                                <td>@mant.SerieSensor</td>
                                <td>@mant.Medida.ToString("N2")</td>
                                <td>@mant.UnidadMedida</td>
               

                            </tr>
                        }
                        @*<tr class="center">
                                <td><input type="checkbox" /></td>
                                <td>
                                    11/11/2019
                                </td>
                                <td>
                                    Equipo1
                                </td>
                                <td>
                                    <a href="#" class="ui yellow compact button disabled"><i class="warning icon"></i></a>
                                </td>

                                <td>
                                    <div class="ui small buttons">
                                        <a href="#" class="ui green button compact"><i class="pencil icon"></i>Editar</a>
                                    </div>
                                </td>
                            </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    
}

@section Scripts{

    <script>
        $(".show-modal-mant").on("click", function () {
            var nomEquipo = $("#cabecera-modal").data("nombre");
            var idmant = $(".show-modal-mant").data("idmant");

            $("id-mant").data("mant",idmant)
            var idequipo = $("#id-equipo").val();

            $("#cabecera-modal").html("");
            $("#cabecera-modal").html("Completar Mantenimiento: " + nomEquipo);
               $('#modal-mant')
                   .modal('show', function () {
                       $(".guardarmant").on("click", function () {
                           var texto = $("#text-desc").val();
                           $.ajax({
                cache: false,
                type: "POST",
                url: '/Mantenimiento/CambiarEstadoMantenimiento?IdMant=' + idmant + "&Desc=" + texto,
                                success: function () {
                                    $('#modal-mant').modal('close');
                                    window.location.reload();
                                },
                                error: function (xhr, ajaxOptions, thrownError) {
                    window.location.reload();
                }
            });

                       });

        });

                   });


    </script>
}